.top_places
{
	border: 0px solid black;
	display:flex;
	justify-content:space-around;
	align-items:center;
}
.top_pl_city
{
	border:0px solid red;
	width:350px;
	height:250px;
	float:left;
	margin-top:20px;
	margin-bottom:20px;
	box-shadow: 5px 5px 5px 5px #e1e3ef;
	transition:transform 1s;
}
.top_pl_city:hover
{
	transform: scale(1.05);
}
.top_pl_city img
{
	width:100%;
	height:80%
}
.checked
{
	color:orange;
	
}
.starr
{
	border:0px solid black;
	height:20px;
	display:flex;
	justify-content:center;
}
p
{
	text-align:justify;
	margin-left:10px;
	margin-right:10px;
}
.footer
{
	height: 200px;
	width: 100%;
	background-color:black;
	display:flex;
	justify-content:space-around;
	align-items:center;
}
.footerb
{
	height: 180px;
	width: 300px;
	float: left;
	color:white;
	text-align:center;
}